main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 15px;
    width: 100%;

    calculator-form {
        flex-basis: 24%;
}

    calculation-history {
        flex-basis: 74%;
    }
}
