<md-toolbar color="primary">
    <h1>{{title}}</h1>
</md-toolbar>

<form>
    <md-input-container>
        <input type="number" name="value1Input" mdInput [(ngModel)]="value1" (change)="calculationParamChanged()">
    </md-input-container>
    <md-input-container>
        <input type="number" name="value2Input" mdInput [(ngModel)]="value2" (change)="calculationParamChanged()">
    </md-input-container>

    <md-select [(ngModel)]="selectedCalculation" selected="selectedCalculation" name="calculationSelect" (change)="calculationParamChanged()">
        <md-option *ngFor="let calculation of calculations" [value]="calculation">
            {{calculation.operator}}
        </md-option>
    </md-select>

    <hr>

    <div class="result">{{result | async}}</div>
</form>

<calculation-history></calculation-history>
