.calculations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    height: 300px;
}

md-card {
    margin-bottom: 15px;
    margin-right: 15px;

    &:last-of-type {
        margin-bottom: 0;
    }
}
